---
layout: basic
urls:
  yjit: https://github.com/Shopify/yjit
  yjit_bench: https://github.com/Shopify/yjit-bench
  ruby: https://github.com/ruby/ruby
---

<% last_bench = site.benchmarks[-1] %>

<!-- Headline Box -->
<div class="headline-box">

  <div>
    <a href="<%= urls[:yjit] %>">YJIT</a>
    metrics from the <a href="<%= urls[:yjit_bench] %>">yjit-bench suite</a>
    as of <strong><%= last_bench.date_str %></strong>
  </div>

  <div><%= include last_bench.reports[:blog_speed_headline_html] %></div>

  <% for platform in last_bench.platforms %>
  <div class="headline-button">
    <a href="<%= relative_url last_bench.url %>#<%= platform %>"><button>Latest Full Details (<%= platform %>)</button></a>
  </div>
  <% end %>

  <div class="build-config">
    YJIT <%= last_bench.yjit_ruby_version %> build configuration
    <dl>
      <% if last_bench.yjit_ruby_description %>
        <dt>Ruby</dt>
        <dd><code>
          <% match = last_bench.yjit_ruby_description.match(/(.+? )([0-9a-fA-F]+)(\).*)/) %>
          <%= match[1] %><a href="<%= urls[:ruby] %>/commit/<%= last_bench.yjit_commit.yield_self { |c| c.start_with?(match[2]) ? c : match[2] } %>"><%= match[2] %></a><%= match[3] %>
        </code></dd>
      <% elsif last_bench.yjit_commit %>
        <dt>Ruby</dt>
        <dd><a href="<%= urls[:ruby] %>/commit/<%= last_bench.yjit_commit %>"><%= last_bench.yjit_commit[0..9] %></a></dd>
      <% end %>

      <% if last_bench.yjit_configure_args %>
        <dt>Configure args</dt>
        <dd><code class="configure-args">
          <% configure_args(last_bench.yjit_configure_args).each do |arg| %>
            <%# Wrap each argument in a "no-wrap" tag to discourage breaking on the dashes that are common in command line args. %>
            <span class="nowrap"><%= arg %></span>
          <% end %>
        </code></dd>
      <% end %>

      <% if last_bench.yjit_cc_version %>
        <dt>Compiler</dt>
        <dd><code class="compiled-with"><%= last_bench.yjit_cc_version %></code></dd>
      <% end %>

    </dl>
  </div>

</div>

<!-- Latest Headlining Results -->
<div class="latest-details-box">
  <h2 style="text-align: center;">Latest Headlining Results vs CRuby</h2>

  <p style="text-align: center;">
    These "headlining" benchmarks are used for the above measurements.
    There are more benchmarks on the <a href="<%= relative_url last_bench.url %>">Full Details Page</a>.
  </p>

  <hr style="width: 50%"/>

  <div style="text-align: center;">
    <h3 style="text-align: center;">Performance on Headline Benchmarks</h3>
  <a href="<%= relative_url last_bench.url %>">
  <%= include(find_best(last_bench.reports, "blog_speed_details_PLATFORM_head_svg")) %>
  </a>
  <%= text(:speed_graph) %>
  </div>

  <hr style="width: 50%"/>

  <div style="text-align: center;">
    <h3 style="text-align: center;">Memory Usage on Headline Benchmarks</h3>
  <a href="<%= relative_url last_bench.url %>">
  <%= include(find_best(last_bench.reports, "blog_memory_details_PLATFORM_head_svg")) %>
  </a>
  <%= text(:memory_graph) %>
  </div>

  <hr style="width: 50%"/>

  <div style="text-align: center;">
    <a href="<%= relative_url last_bench.url %>"><button>See more benchmarks</button></a>
  </div>
</div>

<!-- Timeline Graph -->
<div class="timeline-graph-box">
  <h2 style="text-align: center;">YJIT Results Over Time</h2>

  <div style="text-align: center;">
    <a href="<%= relative_url "timeline-deep.html#activerecord+liquid-render+optcarrot+railsbench" %>"><button>Results-Over-Time Deep Dive</button></a>
  </div>

  <div class="timeline_report">
    <%= include "reports/mini_timelines.html" %>
  </div>
</div>

<!-- Stats Timeline -->
<div class="stats-timeline-report">
  <div style="text-align: center; margin-top: 3em;">
    <a href="<%= relative_url "stats-timeline.html#yjit_speedup+overall-mean+activerecord+liquid-render+optcarrot+railsbench" %>"><button>YJIT Speedup and Statistics Over Time</button></a>
  </div>
</div>

<!-- Memory Usage Timeline -->

<div class="memory-timeline-report">
  <div style="text-align: center; margin-top: 3em;">
    <a href="<%= relative_url "memory_timeline.html#railsbench" %>"><button>YJIT vs CRuby Memory Usage Over Time</button></a>
  </div>
</div>

<p style="text-align: center; margin-top: 3em;">
  Do you love extensive details? <br/>
  <a href="<%= relative_url "history.html" %>"> <button>See All the Benchmark History</button></a>
</p>
