---
layout: basic
urls:
  yjit: https://github.com/Shopify/yjit
  yjit_bench: https://github.com/ruby/ruby-bench
  ruby: https://github.com/ruby/ruby
---

<%# last_bench = site.benchmarks[-1] %>
<% last_bench = Struct.new(:date_str, :yjit_commit, :reports, :platforms, :yjit_ruby_version, :yjit_ruby_description, :yjit_configure_args, :yjit_cc_version, :cpu_info, :url).new(yjit_commit: "", platforms: [], url: "/") %>

<!-- Headline Box -->
<div class="headline-box">

  <div>
    <a href="<%= urls[:yjit] %>">YJIT</a>
    metrics from the <a href="<%= urls[:yjit_bench] %>">ruby-bench suite</a>
    as of <strong><%= last_bench.date_str %></strong>
    (<a href="<%= urls[:ruby] %>/commit/<%= last_bench.yjit_commit %>"><%= last_bench.yjit_commit[0..9] %></a>)
  </div>

  <div><%#= include last_bench.reports[:blog_speed_headline_html] %></div>

  Latest Full Details:
  <% for platform in last_bench.platforms %>
    <a href="<%= relative_url last_bench.url %>?platform=<%= platform %>"><button><%= platform %></button></a>
  <% end %>

  <div class="build-config">
    YJIT <%= last_bench.yjit_ruby_version %> build configuration
    <dl>
      <% if last_bench.yjit_ruby_description %>
        <dt>Ruby</dt>
        <dd><code>
          <% match = last_bench.yjit_ruby_description.match(/(.+? )([0-9a-fA-F]+)(\).*)/) %>
          <%= match[1] %><a href="<%= urls[:ruby] %>/commit/<%= last_bench.yjit_commit.yield_self { |c| c.start_with?(match[2]) ? c : match[2] } %>"><%= match[2] %></a><%= match[3] %>
        </code></dd>
      <% elsif last_bench.yjit_commit %>
        <dt>Ruby</dt>
        <dd><a href="<%= urls[:ruby] %>/commit/<%= last_bench.yjit_commit %>"><%= last_bench.yjit_commit[0..9] %></a></dd>
      <% end %>

      <% if last_bench.yjit_configure_args %>
        <dt>Configure args</dt>
        <dd><code class="configure-args">
          <% configure_args(last_bench.yjit_configure_args).each do |arg| %>
            <%# Wrap each argument in a "no-wrap" tag to discourage breaking on the dashes that are common in command line args. %>
            <span class="nowrap"><%= arg %></span>
          <% end %>
        </code></dd>
      <% end %>

      <% if last_bench.yjit_cc_version %>
        <dt>Compiler</dt>
        <dd><code class="compiled-with"><%= last_bench.yjit_cc_version %></code></dd>
      <% end %>

      <% last_bench.cpu_info&.each_pair do |platform, info| %>
        <% if info %>
          <dt><%= platform %> CPU</dt>
          <dd><code class="cpu"><%= info %></code></dd>
        <% end %>
      <% end %>

    </dl>
  </div>

</div>

<!-- Latest Headlining Results -->
<div class="latest-details-box">
  <h2>Latest Headlining Results vs CRuby</h2>

  <p>
    These "headlining" benchmarks are used for the above measurements.
    There are more benchmarks on the <a href="<%= relative_url last_bench.url %>">Full Details Page</a>.
  </p>

  <hr/>

  <div>
    <h3>Performance on Headline Benchmarks</h3>
  <a href="<%= relative_url last_bench.url %>">
  <%#= include(find_best(last_bench.reports, "blog_speed_details_PLATFORM_head_svg")) %>
  </a>
  <%= text(:speed_graph) %>
  </div>

  <hr/>

  <div>
    <h3>Memory Usage on Headline Benchmarks</h3>
  <a href="<%= relative_url last_bench.url %>">
  <%#= include(find_best(last_bench.reports, "blog_memory_details_PLATFORM_head_svg")) %>
  </a>
  <%= text(:memory_graph) %>
  </div>

  <hr/>

  <div>
    <a href="<%= relative_url last_bench.url %>"><button>See more benchmarks</button></a>
  </div>
</div>

<h2>YJIT Results Over Time</h2>

<dl class="timelines">
  <dt>
    <a href="<%= relative_url "stats-timeline.html#yjit_speedup+overall-mean+activerecord+liquid-render+optcarrot+railsbench" %>">YJIT Relative Speedup and Statistics Over Time</a>
  </dt>
  <dd>
    YJIT's relative speedup over CRuby, the metric that is most generally applicable and least subject to changes in hardware or benchmark code.
  </dd>

  <dt>
    <a href="<%= relative_url "memory_timeline.html#railsbench" %>">YJIT vs CRuby Memory Usage Over Time</a>
  </dt>
  <dd>
    Memory usage overhead of YJIT compared to CRuby (development versions).
  </dd>

  <dt>
    <a href="<%= relative_url "benchmark_timeline.html#railsbench" %>">Benchmark Runtime Comparison Over Time</a>
  </dt>
  <dd>
    Comparison of total runtime of each ruby version for any benchmark over time (mostly useful for debugging unexpected changes).
  </dd>

  <dt>
    <a href="<%= relative_url "timeline-deep.html#activerecord+liquid-render+optcarrot+railsbench" %>">YJIT Benchmark Runtime Over Time</a>
  </dt>
  <dd>
    Total runtime duration per benchmark for just the development version of YJIT.
  </dd>
</dl>

<h3>Preview of headline benchmark timing history</h3>
<div class="timeline_report">
  <%#= include "reports/mini_timelines.html" %>
</div>

<hr/>

<!-- History -->
<p class="history">
  Do you love extensive details? <br/>
  <a href="<%= relative_url "history.html" %>"> <button>See All the Benchmark History</button></a>
</p>
