<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<div id="timeline_rs_chart"></div>

<%
# We want different colours, but we want them light so that black shows up on top of them.
# From: https://www.schemecolor.com/galaxy-rainbow.php
colors = [
    '#a80000',
    '#fb6400',
    '#ffc400',
    '#62ba27',
    '#3342c4',
    '#9362c4',
]
%>
<div id="timeline_legend">
  <ul style="display:inline-block">
<% @series.each_with_index do |this_series, color_index|
     color = colors[color_index % colors.size] %>
<li style="display: inline-block"><span style='background: <%= color %>'>&nbsp;&nbsp; <strong style="color: black;"><%= this_series[:benchmark] %></strong> &nbsp;&nbsp;</span> </li>
<% end %>
  </ul>

  <ul style="list-style-type: none">
    <li>Y axis values are the total number of seconds to run the benchmark one time - lower is better.</li>
    <li>Whiskers are shown 2 standard deviations higher and lower.</li>
  </ul>
</div>

<script>

// D3 line graph, based on https://www.d3-graph-gallery.com/graph/line_basic.html

// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 70, left: 40},
    width = 800 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#timeline_rs_chart")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

var timeParser = d3.timeParse("%Y %m %d %H %M %S");
var data_series = [
    <% @series.each_with_index do |this_series, color_index| %>
    {
        name: <%= this_series[:name].inspect %>,
        data: [ <%= this_series[:data].map { |t, mean, stddev| "{ date: timeParser(#{t.inspect}), value: #{mean}, stddev: #{stddev} }" }.join(", ") %> ],
        color: <%= colors[color_index % colors.size].inspect %>,
        time_range: [ timeParser(<%= this_series[:data][0][0].inspect %>), timeParser(<%= this_series[:data][-1][0].inspect %>) ],
        value_range: [ <%= this_series[:data].map { |pt| pt[1] }.min %>, <%= this_series[:data].map { |pt| pt[1] }.max %> ]
    },
    <% end %>
    {}
]
data_series.pop();

var all_series_time_range = [ timeParser(<%= @series.map { |this_series| this_series[:data][0][0] }.min.inspect %>), timeParser(<%= @series.map { |this_series| this_series[:data][-1][0] }.max.inspect %>) ];
var all_series_value_range = [ <%= @series.map { |this_series| this_series[:data].map { |pt| pt[1] }.min }.min %>, <%= @series.map { |this_series| this_series[:data].map { |pt| pt[1] }.max }.max %> ];

// Add X axis --> it is a date format
var x = d3.scaleTime()
  .domain(d3.extent(all_series_time_range))
  .range([ 0, width ]);
svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
  .selectAll("text")
    .attr("transform", "rotate(-60)")
    .style("text-anchor", "end");

// Add Y axis
var y = d3.scaleLinear()
  .domain([0, d3.max(all_series_value_range)])
  .range([ height, 0 ]);
svg.append("g")
  .call(d3.axisLeft(y));

data_series.forEach(function(item) {
    var circles = svg.selectAll("circle.whiskerdot." + item.name)
      .data(item.data);
    circles.enter().append("circle")
      .attr("class", "whiskerdot")
      .attr("class", item.name)
      .attr("fill", item.color)
      .attr("r", 3.5)
      .attr("cx", function(d) { return x(d.date) } )
      .attr("cy", function(d) { return y(d.value) } )
      ;

    var middle_lines = svg.selectAll("line.whiskercenter." + item.name)
      .data(item.data);
    middle_lines.enter().append("line")
      .attr("class", "whiskercenter")
      .attr("class", item.name)
      .attr("stroke", "black")
      .attr("stroke-width", 2.0)
      .attr("x1", function(d) { return x(d.date) } )
      .attr("y1", function(d) { return y(d.value - 2 * d.stddev) } )
      .attr("x2", function(d) { return x(d.date) } )
      .attr("y2", function(d) { return y(d.value + 2 * d.stddev) } )
      ;

    var top_whiskers = svg.selectAll("line.whiskertop." + item.name)
      .data(item.data);
    top_whiskers.enter().append("line")
      .attr("class", "whiskertop")
      .attr("class", item.name)
      .attr("stroke", "black")
      .attr("stroke-width", 2.0)
      .attr("x1", function(d) { return x(d.date) - 2.0 } )
      .attr("y1", function(d) { return y(d.value + 2 * d.stddev) } )
      .attr("x2", function(d) { return x(d.date) + 2.0 } )
      .attr("y2", function(d) { return y(d.value + 2 * d.stddev) } )
      ;

    var bottom_whiskers = svg.selectAll("line.whiskerbottom." + item.name)
      .data(item.data);
    bottom_whiskers.enter().append("line")
      .attr("class", "whiskerbottom")
      .attr("class", item.name)
      .attr("stroke", "black")
      .attr("stroke-width", 2.0)
      .attr("x1", function(d) { return x(d.date) - 2.0 } )
      .attr("y1", function(d) { return y(d.value - 2 * d.stddev) } )
      .attr("x2", function(d) { return x(d.date) + 2.0 } )
      .attr("y2", function(d) { return y(d.value - 2 * d.stddev) } )
      ;


    // Add the graph line
    svg.append("path")
      .datum(item.data)
      .attr("fill", "none")
      .attr("stroke", item.color)
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .x(function(d) { return x(d.date) })
        .y(function(d) { return y(d.value) })
        );
});

</script>
