<!-- This is the Ruby-dependent parts of the full-size timeline report, for the deep dive -->

<div id="stat_field_dropdown">
  <select name="stat_types" id="stat_field_dropdown_select" selected="<%= @stats_fields[0] %>">
    <% @stats_fields.each do |field| %> <option value="<%= field %>"><%= field %></option> <% end %>
  </select>
</div>

<div id="timeline_rs_chart"></div>

<div id="legend_parent_flexbox" style="display: flex; justify-content: center;">
  <div id="timeline_legend_child">
    <ul style="display:inline-block">
      <% @data_series.each do |this_series| %>
        <li style="display: none" data-benchmark="<%= this_series[:benchmark] %>"><span style='background: <%= this_series[:color] %>'>&nbsp;&nbsp; <strong style="color: white;"><%= this_series[:benchmark] %></strong> &nbsp;&nbsp;</span> </li>
<% end %>
    </ul>
  </div>
</div>

<div id="bottom_selection_checkboxes" style="display: none;">
  <ul>
    <% @data_series.each_with_index do |this_series| %>
    <li>
      <input type="checkbox" data-benchmark="<%= this_series[:benchmark]%>" />
      <span style='background: <%= this_series[:color] %>'>&nbsp;&nbsp;
        <strong style="color: white;"><%= this_series[:benchmark] %></strong> &nbsp;&nbsp;
      </span>
    </li>
  <% end %>
  </ul>
</div>

<script>
document.timeline_data.current_stat = "<%= @stats_fields[0] %>";
</script>
